<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileFormGroup" (ngSubmit)="save(profileFormGroup.value)" autocomplete="off" novalidate>
      <div class="form-group" [ngClass]="{'error':isFirstNameValid()}">
        <label for="firstName">First Name:</label>
        <em *ngIf="isFirstNameValid() && profileFormGroup.controls.firstName.errors.required">required*</em>
        <em *ngIf="isFirstNameValid() && profileFormGroup.controls.firstName.errors.pattern">Must Starts with Alphabet*</em>
        <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
      </div>
      <div class="form-group" [ngClass]="{'error':islastNameValid()}">
        <label for="lastName">Last Name:</label> 
        <em *ngIf="islastNameValid() && profileFormGroup.controls.lastName.errors.required">required*</em>
        <em *ngIf="islastNameValid() && profileFormGroup.controls.lastName.errors.pattern">Must Starts with Alphabet</em>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>

      <button type="submit" [disabled]="profileFormGroup.invalid" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>